<!DOCTYPE html>
{%load static%}
<head>
    <meta charset="utf-8">
    <title>個人資料</title>
    <link rel="stylesheet" type="text/css" href="{%static "css/main.css"%}"
    <script type="text/javascript" src = "{%static "js/personal_data.js"%}"></script>
</head>

<body onload="refreshAt({{h}}, {{m}}, {{s}})">
    <header id="header">
        <div class="inner">
            <a href="/home/" class="logo">IMDB電影投資</a>
            <nav id="nav">
                <a href="/home/">首頁</a>
                <a href="/home/stocks/">股票</a>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="/home/game_status/">遊戲狀態</a>
                        <a href="/home/search_userdata/">銀行存提款</a>
                    {% endif %}
                    <a href="/home/personal_data/">個人資產</a>
                    <a href="/accounts/logout/">登出</a>
                {% else %}
                    <a href="/accounts/login/">登入</a>
                    <a href="/accounts/register/">註冊</a>
                {% endif %}
            </nav>
        </div>
    </header>
    
    <div id='personal_assets'>
        <h1>個人資產：</h1>

        <div id = 'personal_info'>
            <h4>個人資料：</h4>
            <table>
                <tr>
                    <td>組別</td>
                    <td>：第{{user_data.team}}組</td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td>：{{user_data.name}}</td>
                </tr>
                <tr>
                    <td>銀行存款</td>
                    <td>：{{user_data.cash|floatformat:2}}元</td>
                </tr>
                <tr>
                    <td>股票資產</td>
                    <td>：{{stocks_market_value|floatformat:2}}元</td>
                </tr>
                <tr>
                    <td>總資產</td>
                    <td>：{{total_assets|floatformat:2}}元</td>
                </tr>
            </table>
        </div>

        <div id="stock_hold">
        <h4>持有股票：</h4>
        <table>
            <tr>
                <th>股票代碼</th>
                <th>公司</th>
                <th>持有張數</th>
                <th>平均成本</th>
                <th>及時價格</th>
                <th>價差</th>
                <th>總成本</th>
                <th>市值</th>
            </tr>
        {%for i, price, is_positive, delta, market_value in user_stocks %}
                <tr>
                    <td><a href="/home/stocks/{{i.stock_symbol}}">{{i.stock_symbol}}</a></td>
                    <td>{{i.company}}</td>
                    <td>{{i.holdings}}張</td>
                    <td>{{i.average_cost|floatformat:2}}</td>
                    <td>{{price}}</td>
                    {%if is_positive%}
                        <td style="color: red;">&#9650;{{delta|floatformat:2}}</td>
                    {%else%}
                    <td style="color:green">&#9660;{{delta|floatformat:2}}</td>
                    {%endif %}
                    <td>{{i.total_cost|floatformat:2}}</td>
                    <td>{{market_value}}</td>
                </tr>
            {%endfor%}
        </table>
        </div>
    </div>
</body>