<!DOCTYPE html>
{%load static%}
<head>
    <meta charset="utf-8">
    <title>註冊</title>
    <link rel=stylesheet type="text/css" href="{%static "css/main.css" %}">

</head>

<body>
    <header id="header">
        <div class="inner">
            <a href="/home/" class="logo">IMDB電影投資</a>
            <nav id="nav">
                <a href="/accounts/login/">登入</a>
            </nav>
        </div>
    </header>

    <div id='register_form'>
        <h2>建立個人股票帳戶</h2>
        <form action = '' method="POST"> {% csrf_token %}
            <table align="left">
                <tr>
                    <td>第幾小隊：</td>
                    <td>{{user_data.team}}小隊</td>
                </tr>
                <tr>
                    <td>真實姓名：</td>
                    <td>{{user_data.name}}</td>
                </tr>

            </table>
            {{new_user.as_p}}
            <td><input type="submit" value="註冊" id = 'login_button'></td>
        </form>
    </div>
    
</body>