<!DOCTYPE html>
{%load static%}
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src= "{%static "js/index.js" %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel= stylesheet type="text/css" href="{%static "css/main.css"%}">
</head>

<body onload="startTime(), refreshAt({{h}}, {{m}}, {{s}})">
    <header id="header">
        <div class="inner">
            <a href="/home/" class="logo">IMDB電影投資</a>
            <nav id="nav">
                <a href="/home/">首頁</a>
                <a href="/home/stocks/">股票</a>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="/home/game_status/">遊戲狀態</a>
                        <a href="/home/search_userdata/">銀行存提款</a>
                    {% endif %}
                    <a href="/home/personal_data/">個人資產</a>
                    <a href="/accounts/logout/">登出</a>
                {% else %}
                    <a href="/accounts/login/">登入/註冊</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <div id="show_all_stock">
        <h3 id="h2_with_time">今日股價：</h3>
        <h5 id = 'txt'></h5>
        <table >
            <tr>
                <th>股票代碼</th>
                <th>公司</th>
                <th>日期</th>
                <th>股價</th>
                <th>變化</th>
                <th>幅度</th>
                <th>交易量</th>
            </tr>
                    {% for is_positive, delta, growth_rate, stock in stocks %}
                        <tr>
                            <td><a href='./{{stock.stock_symbol}}'>{{stock.stock_symbol}}</a></td>
                            <td>{{stock.company}}</td>
                            <td>{{stock.date_time}}</td>
                            <td>{{stock.price}}</td>
                            {%if is_positive %}
                                <td style="color: red;">{{delta}}</td>
                                <td style="color: red;">{{growth_rate}}&uarr;</td>
                            {%else%}
                                <td style="color: green;">{{delta}}</td>
                                <td style="color: green;">{{growth_rate}}&darr;</td>
                            {%endif%}
                            <td>{{stock_volume}}</td>
                        </tr>
                    {% endfor %}
        </table>
    </div>
</body>